.card{
    background-color: #27292a;
    padding: 30px 15px;
    border-radius: 23px;
    margin-bottom: 30px;
    overflow: hidden;
}
.ui{
    width: 100%;
height: 234px;
border-radius:23px;
}
.parse1{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
color: aliceblue;

}
.p-right{
    font-weight: bolder;
    display: inline-block;
width: 50%;
text-align: left;

}
.righti{
    color:#888a8a;
}
.rate{
    display: inline-block;
width: 50%;
text-align: right;


}
.parse2{
display: flex;
font-size: 15px;
color: aliceblue;
margin-top: 5px;
}
.righti{
    font-size: 15px;
    width: 50%;
    display: inline-block;
    text-align: left;

}
.downloading{
    width: 50%;
    display: inline-block;
    text-align: right;

}
.kuchul{
    width: 80px;
    height: 80px;
    max-width: 80px;
    border-radius: 23px;
    margin-top: 3px;
    margin-left: 100px;

   
}
.kuchul:nth-child(1){
    margin-top: 15px;
}
.partition{
    padding: 15px 10px;
    ;
    border-bottom: 0.6px solid rgb(62, 62, 62);
}
.buti{
    color: #949494 !important;
    text-align: center;
   text-transform: capitalize;

    margin: 0px !important;
}
.donlod-but{
    margin-top: 40px;
    margin-left: 73px;
font-size: 14px;
    color: #3d3d3d;
    background-color: transparent;
    border: 1px solid #3d3d3d;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
.donlod-but:hover{
    color: #ec6090;
    border-color: #ec6090;
}
.topi{
   font-weight: bolder;
   text-align: center;
   margin: 0px !important;
   text-transform: capitalize;


}